Source: ros-humble-system-webview
Section: misc
Priority: optional
Maintainer: david <davewbrwn@gmail.com>
Build-Depends: debhelper (>= 9.0.0), libcpp-httplib-dev, pkg-config, ros-humble-ament-cmake, ros-humble-ament-index-cpp, ros-humble-ament-lint-auto <!nocheck>, ros-humble-ament-lint-common <!nocheck>, ros-humble-rclcpp, ros-humble-rosbridge-server, ros-humble-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-humble-system-webview
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libcpp-httplib-dev, pkg-config, ros-humble-ament-index-cpp, ros-humble-rclcpp, ros-humble-rosbridge-server, ros-humble-ros-workspace
Description: Real-time web-based system webview for ROS 2 — CPU, memory, swap, load average, and /rosout log viewer
